*
!.gitignore
!/.idea/

!/gradle/
!/gradle/wrapper/
!/gradle/wrapper/gradle-wrapper.properties
!gradle.properties
!settings.gradle.kts

!build.gradle.kts
!/gradle/libs.versions.toml

!/app/
!/consolator/
!/context/
!/database/
!/framework/
